* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

/*style header*/
.header {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-menu {
  fill: white; /* Color blanco */
  width: 32px; /* Tamaño deseado en píxeles */
  height: 32px; /* Tamaño deseado en píxeles */
}

.list-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 40px;
}

.list-nav li a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
}
.list-nav li a:hover{
  color: rgb(32, 246, 8);
}
.icon-header {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}
.icon-menu {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 4rem;
}

.logo-header {
  color: white;
  font-size: 3.5rem;
  padding-right: 30px;
  font-weight: 900;
}

/*style main
style section logo y reserva */
.main {
  width: 100vw;
  height: auto;
}
.section-logoReserva {
  width: 100%;
  height: 150vh;
  background: url(./img/bar-g52dbbea95_1920.jpg) center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-logoReserva {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-bar {
  width: 90%;
  height: 300px;
  color: rgb(212, 139, 141);
  text-align: center;

  font-size: 11.4rem;
  font-weight: 800;
}
.name-bar span {
  color: white;
  font-size: 10.4rem;
}
.btn-reserva {
  margin-top: 70px;
  width: 250px;
  height: 60px;
  background: black;
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  border: 2px solid rgb(160, 160, 160);
  cursor: pointer;
}

/*section productos*/
.section-productos {
  width: 100vw;
  height: auto;
}

.container-informationproduc,
.container-reservas {
  width: 100%;
  height: 600px;
}
.slogan-productos,
.container-bebida {
  width: 100%;
  height: 50%;
  margin: 0 auto;
}
.container-bebida{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slogan-productos p {
  color: white;
  font-weight: 800;
  padding-left: 30px;
}

.slogan-productos :nth-child(1) {
  font-size: 3rem;
}
.slogan-productos :nth-child(2) {
  font-size: 4rem;
}
.slogan-productos :nth-child(3) {
  font-size: 5rem;
}

/*style coctel*/
.figure-coctel {
  width: 80vw;
  height: 280px;
  margin: 0 auto;
  display: flex;
    align-items: center;
    justify-content: center;
}
.figure-coctel img {
  width: 312px;
  height: 280px;
  object-fit: cover;
  
}

/*container reservas*/
.container-figureReserva,
.container-reservaVirtual {
  width: 100vw;
  height: 50%;
}
.container-reservaVirtual {
  display: flex;
  flex-direction: column;
}
.figure-reserva {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}
.figure-reserva img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.informacion-reserva {
  width: 90%;
  margin: 20px auto 0 auto;
  font-size: 3.6rem;
  text-align: center;
  font-weight: 800;
  color: white;
}
.parrafo-reserva {
  text-align: center;
  font-size: 2rem;
  color: white;
  width: 90%;
  margin: 20px auto 0 auto;
}
.btn-reservaVirtual {
  width: 250px;
  height: 60px;
  background: rgb(236, 218, 24);
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  cursor: pointer;
  margin: 20px auto 0 auto;
  border: none;
}

/*style formulario*/
.formulario {
  width: 100vw;
  height: auto;
}
.title-contactanos {
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-weight: 900;
  margin: 0 auto;
}
.container-form {
  width: 85vw;
  margin: 20px auto 0 auto;
}
.formulario {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.formulario label {
  margin-top: 10px;
}
.label-nombre,
.label-email,
.label-asunto,
.label-telefono {
  width: 100%;
  height: 35px;
}
.label-mensaje {
  width: 100%;
}
.formulario input,
textarea {
  background: rgb(218, 217, 217);
  color: rgb(113, 113, 113);
  border: none;
  padding: 0 0 0 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.input-name,
.input-asunto,
.input-telefono,
.input-gmail,
.input-mensaje {
  width: 100%;
  height: 100%;
}
.input-mensaje {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.submit-form {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 2rem;
}
.footer {
  margin-top: 30px;
  background: black;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-footer {
  width: 45%;
  color: white;
  font-size: 4rem;
  font-weight: 900;
  padding-left: 50px;
}
.autor-footer {
  width: 45%;
  height: 50px;
  color: white;
  font-size: 1.2rem;
  padding-right: 5px;
  text-align: center;
}
.autor-footer span {
  color: rgb(123, 123, 236);
}

@media (max-width: 639px) {
  .list-nav {
    display: none;
  }
}

@media (min-width: 640px) {
  .icon-header {
    display: none;
  }
  .container-informationproduc{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
  }
  .slogan-productos, .container-bebida{
    width: 50%;
    height: 300px;
  }
  .figure-coctel{
    width: 100%;
  }
}

@media (min-width: 800px) {
  .list-nav{
    width: 60%;
  }
  .container-reservas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
  }
  .container-figureReserva, .container-reservaVirtual{
    width: 50%;
    height: 300px;
  }
  .figure-reserva{
    width: 100%;
  }
  .formulario{
    margin: 30px auto;
  }
  .title-contactanos{
    font-size: 6rem;
  }
  .autor-footer{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }
  .autor-footer span{
    padding: 0 5px;
  }
}



@media(min-width:1024px){

  .container-informationproduc{
    height: 400px;
  }
  .slogan-productos{
    width: 55%;
    height: 100%;
  }
  .container-bebida{
    width: 45%;
    height: 100%;
  }
  .figure-coctel{
    width: 100%;
    height: 100%;
  }
  .figure-coctel img{
    width: 100%;
    height: 100%;
  }


  .container-reservas{
    height: 600px;
  }
  .container-figureReserva{
    width: 55%;
    height:100%;
  }
  .container-reservaVirtual{
    width: 45%;
    height:100%;
  }
  .informacion-reserva{
    font-size: 4.5rem;
  }
  .parrafo-reserva{
    width: 75%;
    font-size: 3rem;
    font-weight: 900;
  }
}


@media(min-width:1200px){
  .logo-header{
    margin-right: 60px;
    font-size: 5rem;
  }

  .slogan-productos :nth-child(1) {
    font-size: 6.5rem;
  }
  .slogan-productos :nth-child(2) {
    font-size: 7.5rem;
  }
  .slogan-productos :nth-child(3) {
    font-size: 8.5rem;
  }
  .figure-coctel img{
    width: 55%;
    height: 95%;
  }

  .informacion-reserva{
    font-size: 5.5rem;
  }
  .parrafo-reserva{
    font-size: 3rem;
  }
  .btn-reservaVirtual{
    margin-top: 50px;
    width: 450px;
    height: 80px;
    font-size: 4rem;
    border-radius: 5px;
  }
  .formulario {
    width: 75vw;
   
  }
}